
:root {
	--color: Aquamarine;
	--background-color: Black;
	--font-size: 13;
}


body {
	text-align: center;

	font-family: Berkeley Mono, monospace;
	font-size: var(--font-size);
	background-color: var(--background-color);
	color: var(--color);
	padding: 10px;

}

body > *:not(:last-child) {
	display: block;
	margin-bottom: 30px;
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	width: 100%;
	font-style: italic;
}
a {
	color: var(--color);
}
.stationurl {
	text-decoration: none;
}

.stationurl:hover {
    text-decoration: underline;
}

.meta-container {
	padding-top: 10px;
	padding-bottom: 30px;
}

.emoji {
	color: transparent;
	text-shadow: 0 0 0 var(--color);
}

[data-status="connected"] {
	color: green;
}

[data-status="disconnected"] {
	color: red;
}

/* CSS */
button {
	font-family: Berkeley Mono, monospace;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color);
	background-color: var(--background-color);
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	min-width: 150px;
	min-height: 50px;
	margin: 5px;
}

button:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

/*@media (min-width: 768px) {*/
/*	button {*/
/*		padding: 0.25em 0.75em;*/
/*	}*/
/*}*/

.slider {
	-webkit-appearance: none;
	width: 95%;
	height: 15px;
	background: DarkSlateGray;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 10px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: var(--color);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: var(--color);
	cursor: pointer;
}

.mainbox, .chatbox {
	border: 1px solid var(--color);
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 35px;
}

.mainbox {
	padding-top: 20px;
}

.buttoncontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 10px;
}


@media (max-width: 700px) {
	.buttoncontainer{
		flex-direction: column;
	}

	.slider {
		visibility: hidden;
	}

}

input {
	width: 100%;
	background-color: transparent;
	color: var(--color);
	font-size: var(--font-size);
	font-family: Berkeley Mono, monospace;
	outline: none;
	border: none;
	caret-shape: block;
}

.input-chat {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

input::placeholder {
	color: var(--color);
	opacity: 0.7;
	font-size: var(--font-size);
	font-family: Berkeley Mono, monospace;
}

.form-chat {
	border: 1px solid var(--color);
}


.userid {
	opacity: 0.7;
}


#chatmessages {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: column;
	text-align: left;

	padding-left: 10px;
	padding-right: 10px;
}

.chatmessage {
	/*border: 1px solid red; */
	padding-bottom: 0.4em;

}
.chatmessage:nth-child(1) { opacity: 100%; }
.chatmessage:nth-child(2) { opacity: 90%; }
.chatmessage:nth-child(3) { opacity: 80%; }
.chatmessage:nth-child(4) { opacity: 70%; }
.chatmessage:nth-child(5) { opacity: 60%; }
.chatmessage:nth-child(6) { opacity: 50%; }
.chatmessage:nth-child(7) { opacity: 40%; }
.chatmessage:nth-child(8) { opacity: 30%; }
.chatmessage:nth-child(9) { opacity: 20%; }
.chatmessage:nth-child(10) { opacity: 10%; }
.chatmessage:nth-child(1n+10) { visibility: hidden;}


